<div class="center jumbotron">

  <% if current_user %>
    <h1>Welcome <%= current_user.name %> to My Blog Site</h1>
    <h2> Have a good time blogging !!! </h2>

  <% else %>
    <h1>Welcome to My Blog Site</h1>
    <h2> This is a public blog site for all. </h2>
    <%= link_to "Log in Now!", new_user_session_path, class: "btn btn-lg btn-primary" %>
    <%= link_to "Log in with Twitter!", user_omniauth_authorize_path(:twitter), class: "btn btn-lg btn-primary" %>
  <% end %>

  <% if not user_signed_in? %>

  <% end %>

</div>
